body,html{
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
}
h1{
  color: #333333;
}
.container_app{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.container_to-do{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  gap: 40px;
  min-width: 320px;
  min-height: 500px;
  padding: 25px;
  border-radius: 8px;
  box-shadow:  0 0 10px rgba(37, 38, 40, 0.3);
  background-color: rgba(0, 45, 47, 0.8);
}

.form form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}
input{
  width: 100%;
  background-color: #FFFFFF;
  padding: 7px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  color: #242424;
}
input:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.3);
}

button{
  padding: 8px 16px;
  height: 42px;
  width: 80px;
  background-color: #22c1c3;
  border: none;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  font-size: 35px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.list ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

::-webkit-input-placeholder{
  color: rgba(30, 28, 28,0.3);
  
}


.li_off{
  text-decoration: line-through;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  background-color: #22c1c3;
  color: #fffefe;
  border-radius: 5px;
  font-size: 16px;
}
.li_on{
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  background-color: #feffff;
  color: #211e1e;
  border-radius: 5px;
  font-size: 16px;
}

.check{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  font-size: 16px;
}
.delete{
  color: rgba(0, 45, 47, 1);
}